@charset "utf-8";

*{
margin:0px;
padding:0px;
}

body {
background:#ffffff ;
font-family:Verdana, "ＭＳ Ｐゴシック", sans-serif;
font-size:100%;
}

h1,h2,h3,h4,h5,h6 {
}

li {
	list-style-type:none;
}


.header{
background:#3a3a3a;
background-position: 0px 50px;
color:#fff;
min-width:500px;
width: 100%;
height:55px;
clear: both;
position: fixed;
z-index: 1;
float:left;
top:0px;
padding:5px 5px 5px;
}

.header-href a{
width:160px;
height:25px;
display: inline-block;
background:#292044;
text-decoration:none;
text-align: center;

}

.title{
font-weight:bold;
font-size:20px;
padding:5px 5px;
}

.header a:link { color: #ffffff; }
.header a:visited { color: #ffffff; }
/* .header a:hover { color: #ff0000; } */
.header a:active { color: #ff8000; }

.users a:hover { color: #ff0000; }

.header-href a:hover{
box-shadow    : none;
color         : #292044;
background    : #ffffff;/*#2dff62*/
}


.VariousMessages{
margin: 100px auto 0px;
padding: 15px 20px;
color: #ff0000;
font-size: 20px;
text-align: center;
list-style-position:inside;

}

.Messages{
color:#000000;
}




.main-contents,
.main-contents:before,
.main-contents:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

table {
border-collapse: collapse;
width: 85%;
margin:-300px auto 100px;

}
table th,
table td {
padding: 10px;
border: 1px solid #999;
text-align: center;
}
table th {
background-color: #eee;
width: 10%;
}

.copyright{
color:#929292;
text-align: right;
}


@media screen and (max-width: 320px) {
  table {
   border-top: 1px solid #999;
  }
  table td {
    display: block;
    text-align: center;
  }
  table th {
    display: block;
    border-top: none;
    border-bottom: none;
    width: 100%;
  }
}


