@charset "utf-8";


*{
margin:0px;
padding:0px;
}


body {
background:#f6f6f6 ;
font-family:Verdana, "ＭＳ Ｐゴシック", sans-serif;
font-size:120%;
}

button, input, select, textarea {
font-family : inherit;
font-size   : 100%;
}

h1,h2,h3,h4,h5,h6 {
}

li {
	list-style-type:none;
}



.header{
background:#3a3a3a;
background-position: 0px 50px;
color:#fff;
min-width:850px;
width: 100%;
height:55px;
clear: both;
position: fixed;
z-index: 1;
float:left;
top:0px;
padding:5px 5px 5px;
}

.header-href a{
width:160px;
height:25px;
display: inline-block;
background:#292044;
text-decoration:none;
text-align: center;
}



.title{
font-weight:bold;
font-size:20px;
padding:5px 5px;
}

.header-href .logout{
float:right;
width: 50px;
margin:0px 130px 0px 0px;
clear:bottom;
}

.header a:link { color: #ffffff; }
.header a:visited { color: #ffffff; }
/*.header a:hover { color: #ff0000; }*/
.header a:active { color: #ff8000; }

.header-href a:hover{
box-shadow    : none;
color         : #292044;
background    : #ffffff;/*#2dff62*/
}

.aticle{
background:rgb(100,200,50);
float:right;
width:100%;
clear:bottom;
cursor:pointer;
margin:1px 10px 20px -5px;
padding:1px 8px;
z-index: 2;
position:fixed;
}

.aticle-category{
float:left;
min-width:450px;
margin:0px -70px 0px 0px;
}

.aticle-category input[type=text]{
width:200px;
font-size:15px;
height:20px;

}
.aticle-date{
float:left;
min-width:450px;
}

.aticle-date input[type=date]{
width:150px;
font-size:15px;
height:20px;
}

.aticle input[type="submit"]{
margin-bottom:10px;
}


.main-contents{
background:#dfdfdf;
max-width:900px;
min-width:500px;
width:70%;
height:150%;
margin:100px  auto 0px;
font-size:20px;
padding:5px 10px;

}

.VariousMessages{
padding:10px 10px;
}

.VariousMessages li{
text-align:center;
}

hr {
height: 3px;
border-top: 1px #000000 double;
background:#cecece;
float:leftt;
width:90%;
clear:bottom;
margin:10px  auto 10px;
}


pre {
word-break: break-all;
white-space: pre-wrap;
}

.errorMessages{
color:#ff0000;
}

.Messages{
color:#ff0000;
}


.account-name span{
float:left;
width:100%;
clear:bottom;
color:#000000;
margin:0px auto 0px;
font-size:20px;
font-weight:bold;
margin-left:20px;
}

.messageContent{

position: relative;
display: inline-block;
float:left;
margin: 10px auto ;
padding: 15px 20px;
width: 90%;
color: #000000;
font-size: 16px;
background:#fff;
border-radius: 15px;
border: solid 5px #2dff62;
font-family:none;
}

.messageTitle{
font-size:16px;
}
.messageTitle>a{
font-size:20px;
font-weight:bold;
}

.messageText{
font-size:16px;
}
.messageText pre{
font-size:20px;
padding:10px 0px;
margin:5px 8px;
line-height:1.3;
color:#000000;
}

.messageCategory{
position: relative;
display: inline-block;
float:left;
padding: 3px 0px;
width: 232px;
font-family:none;
}



.comments {
position: relative;
display: inline-block;
float:left;
margin: 1.5em auto;
padding: 15px 20px 0px;
width: 91%;
color: #000000;
font-size: 16px;
background: #fff;
border-radius: 15px;
border: solid 5px #71adff;
line-height:1.3;
}

.comments:before{
content: "";
position: absolute;
top: -35px;
left: 10%;
margin-left: -15px;
border: 15px solid transparent;
border-bottom: 15px solid #71adff;
}

.comments .userName{
display: inline-block;
color:#525252;

}

.commentText{
font-size:18px;
padding:10px 0px;
margin:5px 8px;
}

.commentRecord{
position: relative;
display: inline-block;
float:left;
margin: 1.5em auto;
padding: 5px 5px 10px;
width: 90%;
color: #555;
font-size: 20px;
background: #71adff;
border-radius: 15px;
}

#commentText{
width:98%;
margin:0px auto;
height:50px;
border-radius: 15px;
font-size:16px;
line-height:1.3;
}

.commentRecord:before{
content: "";
position: absolute;
top: -30px;
left: 10%;
margin-left: -15px;
border: 15px solid transparent;
border-bottom: 15px solid #71adff;
}

textarea{
margin:5px 10px;
padding:5px 5px;
resize: none;
}


.form-contents #text{
font-size:22px;
resize: none;
width:400px;
height:200px;

}


input[type="submit"] {
float:left;
width:100px;
clear: both;
margin:5px 0px 0px;
font-size:15px;
}


input[type="submit"] {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 10pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #999999;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 3px #666666;
  border        : 2px solid #999999;
}
input[type="submit"]:hover {
  box-shadow    : none;
  color         : #999999;
  background    : #ffffff;
}

.comments input[type="submit"],.messageContent input[type="submit"]{
float:right;
width:100px;

margin:-20px 0px 0px;
}
.commentDate , .messageDate{
float:left;
width:180px;
clear: both;
color: #555;
margin:0px 0px 0px ;

}

.main-contents form{
font-size:25px;
}

input{
width:400px;
height:30px;
font-size:15px;
padding:5px 5px;
margin:5px 10px;
font-size:22px;
}





select{
outline:none;
text-indent: 0.01px;
text-overflow: '';
background: ;
vertical-align: middle;
font-size: 25px;
color: inherit;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;

}
select option{
  background-color: #fff;
  color: #333;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}

select:hover { color:#808080 ; }


.copyright{
color:#929292;
text-align: right;
}






